{% extends 'base.html.twig' %}

{% block title %}Тестовое задание!{% endblock %}

{% block body %}
<div>
    <div class="link">
        <form id="form-link" method="POST" action="/link">
            <input name="link" type="text" placeholder="Вставьте ссылку">
        </form>
        <button id="add-button">Отправить</button>

    </div>
    <div class="link-filed">
        <a href="" id="link-filed"></a>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('link') }}    
{% endblock %}