{% extends 'base.html.twig' %}

{% block title %}Перенаправление!{% endblock %}

{% block body %}
<div class="link-container">
    <h1>Перенаправление по адресу через 3 секунды</h1>
    <h2><a href="{{ redirecrLink }}" >{{ redirecrLink }}</a></h2>
</div>
{% endblock %}